QWidget {
    color: #FFF;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    outline: none;
}

QListView, QTableView, QTableWidget {
    background-color: transparent;
    border: none;
    outline: none;
}

QLineEdit, QComboBox, QPlainTextEdit, QSpinBox {
    background-color: #435260;
    border: 1px solid #999;
}

    QLineEdit:focus, QComboBox:focus, QComboBox:on, QPlainTextEdit:focus, QSpinBox:focus {
        border-color: #44a8eb;
    }

    QComboBox::drop-down {
        background-color: transparent;
    }

    QComboBox::down-arrow {
        width: 24px;
        height: 24px;
        right: 4px;
        image: url(:/images/down.png) no-repeat;
    }

    QSpinBox::up-button, QSpinBox::down-button {
        background: transparent;
        padding: 0;
    }

    QSpinBox::up-arrow {
        image: url(:/images/up-arrow.png);
        width: 11px;
        top: 2px;
    }

    QSpinBox::down-arrow {
        image: url(:/images/down-arrow.png);
        width: 11px;
        top: -2px;
    }


QTableView::item {
    border-bottom: 1px solid #666;
}

    QTableView::item:selected {
        background-color: #31587a;
        color: #FFF;
    }

QHeaderView::section {
    padding: 8px 0px 6px 6px;
    background-color: #293846;
    font-weight: bold;
}

QPushButton {
    background-color: #3498db;
    border: 0;
    padding: 6px 8px 4px 8px;
}

    QPushButton:hover {
        background-color: #44a8eb;
    }

    QPushButton:pressed {
        background-color: #3478ab;
    }

    QPushButton:disabled {
        background-color: transparent;
        color: #999;
    }

#ServersPage QToolBar {
    background-color: transparent;
    spacing: 6px;
}

    #ServersPage QToolBar QToolButton {
        background-color: #3498db;
        padding: 8px 8px 6px 8px;
        border: none;
    }

        #ServersPage QToolBar QToolButton:checked {
            background-color: green;
            margin: 0;
            top: 0;
            left: 0;
        }


/*QScrollBar:vertical {
    background-color: #000;
    border: none;
}

    QScrollBar::handle:vertical {
        background: #5e6e73;
    }
*/
#Side {
    background-color: #293846;
}

#Caption {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}

#Side QListView {
    background-color: transparent;
    font-size: 20px;
    border: none;
}

    #Side QListView::item {
        padding: 10px 10px 8px 10px;
        border: 1px solid transparent;
        color: #CCC;
    }

        #Side QListView::item:selected {
            background-color: #31587a;
            color: #FFF;
        }

        #Side QListView::item:hover {
            background-color: #21486a;
        }



#Central {
    background-color: #3e4e5e;
}

#Stack {
    /*border-top: 1px solid #777;*/
    /*    border: 1px solid red; */
}

#Title {
    font-weight: bold;
    font-size: 24px;
}

StatusItemPane {
    /*    border: 1px solid red; */
}

    StatusItemPane #Title {
        font-size: 16px;
    }

    StatusItemPane #Detail {
        padding-left: 18px;
    }

#LogsPage QPlainTextEdit {
    border: none;
    font: normal 15px Courier;
}
